# What is python

# Basic Syntax and Data Type

In [1]:
# print hello world
print("Hello world")

Hello world

## Printing to console
1. By using ' or " print string infomation in computer screen or console.

In [2]:
print("Hello World")
print("Welcome")

Hello World
Welcome

In [3]:
# print your name using print()

### Printing number into console
1. We can directly print the number into console `without qoutes`
2. By using print statement we `can do arithmetic operations`
3. We can `print more than one value` seperated by `commas`
4. By using `paranthesis()` we can control operations priority

In [4]:
# example of arithmetic operation
print(5 + 10)

# control operation precedence using paranthesis ()
print(3 * 7, (17 - 2) * 8)

# perform exponentiation using '**'
print(2**16)

# Single forward slash is division
print(37 / 3)

# Integer division using //
# return only the quotient of the division, no remainder
print(37 // 3)

# Give remainder value by moduleus operator %
print(37 % 3)
# return 1 remainder
# 37 = 13 * 3 + 1

15
21 120
65536
12.333333333333334
12
1

## Variable and assignment

In [5]:
# create vaiable
user_name = "Kavin"
user_salary = 30000

# accessing data using variable name
print("user name:", user_name)
print("user salary:", user_salary)

# perform manupulation on data
# increse user_salary by 5000
user_salary = user_salary + 5000
print("updated user salary", user_salary)

user name: Kavin
user salary: 30000
updated user salary 35000

In [6]:
# example: calculating sum of two number

number_1 = 100
number_2 = 150

sum = number_1 + number_2

print(sum)

250

## Basic data types
1. Numeric Data Types
    1. Int
    2. Float
2. String data types
3. Boolean Data types
4. Sequence Data types
    1. List
    2. Tuple
    3. Range
5. Dictionary data type
6. Set
7. Frozenset

Determining types using `type()`
Type conversion using `int()`, `float()`, `str()`

In [7]:
# int: Represent integer numbers(whole numbers without decimal part)

age = 30
count = 10

In [8]:
# float : Represents floating-point numbers (numbers with decimals).
price = 9.00
height = 1.75

In [9]:
# string : Represents sequences of characters (text).
# representation methods

# 1. using double qoutes
name = "Aakam360"

# 2. using the single qoutes
greeting = "Hello, world!"

# 3. Tripple qoutes
song = """line 1
line 2
line 3"""

In [10]:
# boolean : Represents truth values (True or False).
is_adult = True
is_raining = False

In [11]:
# list data :  An ordered collection of items, which can be of different data types. Mutable (can be changed).
fruits = ["apple", "banana", "orange"]
number = [1, 2, 3, 4]

In [12]:
# tuple : An ordered collection of items, similar to lists but immutable (cannot be changed).
coordinates = (3, 4)
person = ("Alice", 30)

In [13]:
# range: Represents a sequence of numbers.
numbers = range(1, 10)  # Generates numbers from 1 to 9

In [14]:
# dict: An unorderd college of key-value pair
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

## Simple Arithmetic Operations

In [ ]:
print(17 / 3)  # gives 5.66666666667
print(2 ** 4)  # gives 16
print(2 ** -2) # gives 0.25

In [ ]:
print(17 / 3)   # gives 5.66666666667
print(17 // 3)  # gives 5
print(17 % 3)   # gives 2

### Understand type by `type()` function

In [18]:
print(type(2))
print(type(4.5))
print("Aakam360")

<class 'int'>
<class 'float'>
Aakam360

## Type converison : We can convert the type

In [19]:

price = 134.56
print("Before type conversion ", price)

price = int(price)
print("After type conversion ", price)

Before type conversion  134.56
After type conversion  134

## excerces

# Input and output

## Taking user input

## `input()` function
inputing data from user

In [ ]:
name = input("Enter your name:")
print("hello, ", name)

In [ ]:
# what is type of data returned by input
name = input("Input a number")

# how i convert the data

## Output
1. Print()
2. Formatting Output

In [20]:
name = "Alice"
age = 30

print(f"Hello, {name}! You are {age} year old.")

Hello, Alice! You are 30 year old.